
.app{
  height: 98vh; 
  border-radius: 8px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

.row{
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-radius: 10px;
  height: 76vh; 
}

.col-bg{
  
  padding: 20px;
  border-radius: 8px;
  height: 72vh; 
  width:30px;
}

.small-input {
  width: 50%;
  margin: 0 auto;
}

.custom-input {
  width: 400px;
  max-width: 100%; 
}

.col-lg-4{
  margin-top: 40px;
}

.col-lg-6{
  border: solid ;
  margin-right: 100px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
}
